// Gray scale
$rich-black-fogra-39: #101010ff;
$eerie-black: #202020ff;
$onyx: #404040ff;
$dim-gray: #606060ff;
$gray-web: #808080ff;
$quick-silver: #a0a0a0ff;
$silver: #c0c0c0ff;
$gainsboro: #e0e0e0ff;
// Red scale
$xiketic-red: #1c0303ff;
$black-bean: #3d0707ff;
$up-maroon: #730d0dff;
$carnelian: #ad1313ff;
$red-pigment: #e61919ff;
$red-salsa: #ed5555ff;
$light-coral: #f28d8dff;
$baby-pink: #fac8c8ff;
// Blue scale
$xiketic-blue: #03031cff;
$russian-violet: #07073dff;
$navy-blue: #0d0d73ff;
$zaffre: #1313adff;
$blue: #1919e6ff;
$majorelle-blue: #5555edff;
$cornflower-blue: #8d8df2ff;
$lavender-blue: #c8c8faff;